* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: blueviolet;
  height: 6%;
}

li {
  display: inline-block;
  font-size: 30px;
  margin-left: 90px;
  margin-top: 20px;
  color: white;
}

img {
  margin-top: 40px;
  width: 200px;
  margin-right: 12px;
  padding-left: 20px;
}

.loja {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  padding-left: 100px;
}

button {
  margin-left: 20px;
}

h3,
button,
form {
  margin-top: 20px;
}
h3 {
  font-size: 30px;
  margin-left: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 25px;
}

footer {
  margin-top: 80px;
  background-color: blueviolet;
  height: 100px;
  font-size: 30px;
}
